<h1>Privacy Policy for {{ placeholders.appName }}</h1>
    <p>Effective Date: {{ placeholders.date | date: 'fullDate' }}</p>

    <p>This Privacy Policy describes how {{ placeholders.appName }} ("we," "us," or "our") collects, uses, and discloses your information when you use our mobile application ("App").</p>

    <h2>Information We Collect</h2>

    <p>We collect the following information from you:</p>
    <ul>
        <li>**Prompt:** The text you enter into the main screen of the App. This prompt is considered **personal information** if it reveals details about yourself, such as your name, location, or other identifying characteristics.</li>
    </ul>

    <h2>How We Collect Information</h2>

    <p>We collect information directly from you when you enter a prompt into the App.</p>

    <h2>How We Use Information</h2>

    <p>We use the prompt information you provide to:</p>
    <ul>
        <li>Send it to a third-party API for processing (specify the purpose of the API processing). </li>
        <li>We do not store the prompt information on our servers.</li>
    </ul>

    <h2>Third-Party Service Providers</h2>

    <p>We use a third-party API to process the prompt information. This API may collect and use information according to its own privacy policy. We recommend you review the privacy policies of any third-party services you use in connection with our App.  For the privacy policy of the specific API we use, please refer to: <a [href]="placeholders.huggingFacePolicy" target=”_blank”>Third-Party Privacy Policy</a>.</p>

    <h2>Your Choices</h2>

    <p>You can choose not to provide any prompt information to the App. However, this will limit the functionality of the App, as it will not be able to send the prompt to the third-party API.</p>

    <h2>Security</h2>

    <p>We take reasonable steps to protect the information you provide from loss, misuse, unauthorized access, disclosure, alteration, and destruction. However, no internet transmission or electronic storage is ever completely secure. </p>

    <h2>Changes to this Privacy Policy</h2>

    <p>We may update this Privacy Policy from time to time.</p>

    <h2>Contact Us</h2>

    <p>If you have any questions about this Privacy Policy, please contact us at:</p>
    <ul>
        <li>{{ placeholders.contactEmail }}</li>
    </ul>